header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: #000063;
  color: white;
  height: 40px;
  padding: 5px 10px 5px 10px;
  font-size: 13px;
  font-family: 'Roboto Mono', monospace;
  font-weight: 300;
  div {
    font-size: 22px;
    display: flex;
    flex-direction: row;
    align-items: center;
    img {
      height: 30px;
      width: 30px;
      margin-right: 10px;
    }
  }
}
