$bg-primary-color: #282a36;
$bg-active-color: #44475b;
$bg-darker-color: #2c2e3a;
$headers-color: #9582f0;
$icons-color: #6171a6;
$icons-color-hover: #7e91cf;
$title-color: #e9e978;
$title-active-color: #9e62b5;
$plain-text-color: #475d91;
